## Download data

## Aner data

## Camel data

## two labels files

In [1]:
import gdown

## ANER data
aner_50_id = "1w_AwpWAdi_IPWYlV0VzFE6WL7doWopiL"
aner_50_output = "data/aner_50/aner_50.txt"



## Camel Data
camel_50_id = "14E2KGO5qNWDPlWtwRJR0gqhhzlUhB9z6"
camel_50_output = "data/camel_50/camel_50.txt"

camel_4_id = "1-jFaBXaKe3t0clU0j0PYKHBYjmvpfXSr"
camel_4_output = "data/camel_4/camel_4.txt"

# gdown.download(id = aner_50_id, output=aner_50_output, quiet=False)
# gdown.download(id = camel_50_id, output=camel_50_output, quiet=False)
# gdown.download(id = camel_4_id, output=camel_4_output, quiet=False)

# Convert camel_4 tp text

In [2]:
# import pandas as pd

# excel = pd.read_excel('/data/boda/Arabic-NER/data/camel_4/ANERCorp.xlsx',header=None)

# excel = excel.iloc[: , :-1]
# excel.to_csv('data/camel_4/camel_4.txt',index = None, sep='\t', header=False)

# compare camel_40 and camel_50

In [3]:
import pandas as pd

camel_50_data = pd.read_csv(camel_50_output,delimiter='\t', header=None)
camel_4_data = pd.read_csv(camel_4_output, delimiter='\t', header=None)
aner_50_data = pd.read_csv(aner_50_output, delimiter='\t', header=None)

In [4]:
aner_50_data

               0         1
0       ‎جمهورية  B-Nation
1          ‎جنوب  I-Nation
2       ‎السودان  I-Nation
3              ،         O
4            ‎هي         O
...          ...       ...
245460       ‎في         O
245461    ‎القرن         O
245462   ‎التاسع         O
245463        ‎م         O
245464         .         O

[245465 rows x 2 columns]

In [5]:
camel_50_data.head()

            0                    1
0  ‎فرانكفورت  B-Population-Center
1           (                    O
2          ‎د              B-Media
3          ‎ب              I-Media
4          ‎ا              I-Media

In [6]:
camel_4_data.head()

           0      1
0  فرانكفورت  B-LOC
1         (د      O
2          ب      O
3         أ)      O
4       أعلن      O

In [7]:
camel_4_data.columns = ['word','label']
camel_50_data.columns = ['word','label']
aner_50_data.columns = ['word','label']

In [8]:
aner_50_data.head()

       word     label
0  ‎جمهورية  B-Nation
1     ‎جنوب  I-Nation
2  ‎السودان  I-Nation
3         ،         O
4       ‎هي         O

In [9]:
camel_4_classes = camel_4_data['label'].unique()
camel_50_classes = camel_50_data['label'].unique()

In [10]:
len(camel_4_classes)

26

In [11]:
len(camel_50_classes)

86

In [12]:
camel_4_data['label'].value_counts(sort=True)

O                 132029
B-LOC               4429
B-PERS              3598
I-PERS              2831
B-ORG               2023
I-ORG               1379
B-MISC              1115
I-LOC                604
I-MISC               539
o                      4
I-PRG                  2
B-ERS                  2
B-ORF                  1
فيرسلاين               1
IPERS                  1
b-misc                 1
‏                      1
B-LOCI-PERS            1
B-OEG                  1
i-misc                 1
Oالإصابة               1
ونايفة</title>         1
B-PERs                 1
B-PRG                  1
B-MSIC                 1
Name: label, dtype: int64

In [13]:
camel_50_data['label'].value_counts(sort=True)

O                      89454
B-Nation                1422
I-Politician             853
B-Population-Center      837
B-Politician             830
                       ...
B-Projectile               1
B-Plant                    1
B-Water                    1
B-Engineer                 1
B-Food                     1
Name: label, Length: 85, dtype: int64

In [14]:
mapper = {
    'LOC':{},
    'PERS':{},
    'ORG':{},
    'MISC':{},
}

In [15]:
a = list(zip(camel_4_data['word'],camel_4_data['label']))
b = list(zip(camel_50_data['word'],camel_50_data['label']))
c = list(zip(aner_50_data['word'],aner_50_data['label']))

a[0]

('فرانكفورت', 'B-LOC')

In [16]:
a[0][0]

'فرانكفورت'

In [17]:
# from tqdm import tqdm

# for r in tqdm(a):
#     if r[1] == 'O':
#         continue
#     w1 ,l1 = r[0] , str(r[1])[2:]

#     for c in b:
#         w2 ,l2 = c[0] , str(c[1])[2:]

#         if w1 == w2  and l1 != 'O' and l2 != 'O':
#             try:
#                 mapper[l1][l2] = mapper[l1].get(l2,0) +1 
#             except:
#                 print(w1,l1,w2,l2)
#                 break

In [18]:
mapper

# import json

{'LOC': {}, 'PERS': {}, 'ORG': {}, 'MISC': {}}

In [19]:
# from tqdm import tqdm


# # camel_4_data = camel_4_data.reset_index()
# # camel_50_data = camel_50_data.reset_index()
# for i,r in tqdm(camel_4_data.iterrows()):
#     if r['label'] == 'O':
#         continue
#     w1 ,l1 = r['word'] , r['label'][2:]

#     for j,c in camel_50_data.iterrows():
#         w2 ,l2 = c['word'] ,str(c['label'])[2:]

#         if w1 == w2  and l1 != 'O' and l2 != 'O':
#             mapper[l1][l2] = mapper[l1].get(l2,0) +1

In [20]:
print(len(c))

245465

In [21]:
# s = set()

# for l in c:
#     l = str(l[1])
#     if l !='O':
#         s.add(l[2:])

# with open('labels.txt','w')as f:
#     for i in s:
#         f.write(f'"{i}",\n')

# Data Mapping